@keyframes pulo {
  0% {
    transform: translateY(0); /* Posição inicial */
  }
  50% {
    transform: translateY(-10px); /* Posição mais alta (pulo) */
  }
  100% {
    transform: translateY(0); /* Volta à posição inicial */
  }
}

@keyframes vibrar {
  0% {
    transform: translateX(0); /* Posição inicial */
  }
  25% {
    transform: translateX(-5px); /* Move 5 pixels para a esquerda */
  }
  50% {
    transform: translateX(5px); /* Move 5 pixels para a direita */
  }
  75% {
    transform: translateX(-5px); /* Move 5 pixels para a esquerda */
  }
  100% {
    transform: translateX(0); /* Volta para a posição inicial */
  }
}

@keyframes vibrar-vertical {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
